<div class="element">
            <h2><a href="/post/{{ post.owner }}/{{post.title}}">{{ post.title }}</a></h2>
            <p>{{post.description}}</p>
            <a href="/post/{{ post.owner }}/{{post.title}}"><img src="{{ post.link }}" alt="{{ post.title }}" class="image" width="600px"/></a>
            <div class="social">
                <form method="post" action='/post/{{ post.owner }}/{{post.title}}'>
                    
                    <input type="image" value="" src="/statics/fb.jpg" onsubmit="submit-form();"/>

                </form>

            </div>

</div>