<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
       
   	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="description" content="SocialGags" />
	<!-- Page title block -->
		<title>{% block title %}{% endblock %}</title>
	<!-- End -->

	<link rel="stylesheet" type="text/css" href="/statics/css/style.css" media="all" /> <!-- href cambiara luego para pasar a ser una variable del template --> 
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
   

    <!-- Extra things in head block -->
    {% block extraHead %}
    {% endblock %}
    <!-- End-->

	<!-- Scripts block -->
	{% block scripts %}
	{% endblock %}
	<!-- End-->
</head>

<body>
    

    <div id="wrap">
        <div id="top">
            <h2><a href="/" title="Back to main page">Social Gags</a></h2>
            <div id="topMenu">

                <!-- Upper links block -->
                {% block upper_links %}
                    {% if not user.first_name %}
             
                    <li>
                        <a href="{% url socialauth_begin 'facebook' %}">Enter using Facebook</a>
                    </li>
                   {% else %}
                   <p>Welcome <span id="spanheader">{{ user.first_name }} </span>&nbsp;|&nbsp;<span><a id="LogOut" href="/logout">Log out</a></span> </p>
                   {% endif %}
                {% endblock %}
                <!-- FEnds -->

            </div><!-- menu -->
        </div> <!-- Top -->

        <!-- Content block -->
        <div id="content">
            <div id="left">
        {% block content %}


	{% endblock %}
             </div>
        {% block right_box %}
        {% if user %}

        <div class="box">
	        <h2 id="boxheader">Welcome <span id="spanheader">{{ user.first_name }} </span></h2>
	        <ul>
		    <li><a href="/post/{{ user }}">My Posts</a></li>
                    <li><a href="/post/create">Create New Post</a></li>
                    <li><a href="/users/{{user.username}}">Profile</a></li>
                    <li><a href="/location">Locate your friends</a></li>
	        </ul>
        </div>
        {% endif %}

      
        
        
        {% endblock %}
        <!-- Right box block  -->
        
        <!-- End -->
    </div>
    <div id="clear"></div>
    <div id="footer">
        <p>Copyright 2012. Designed by Jens Schreiber,Raúl García  |  <a href="/about">About</a></p>
    
</div>
</div>

<div id="fb-root"></div>


</body>
</html>
