{% extends "base.html" %}

{% block title %}Locate your friends{% endblock %}
{% block header %}Locate your friends{% endblock %}
{% block extraHead %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
    var map = null;
    var geocoder = null;
    var markerOptions = null;
    var friend = "";

    function initialize(){
    var myLatlng = new google.maps.LatLng(60.18679,24.822149);
    var myOptions = {
     zoom: 8,
     center: myLatlng,
     mapTypeId: google.maps.MapTypeId.ROADMAP
 
    };

    
    map = new google.maps.Map(document.getElementById("map_canvas"),
    myOptions);


    geocoder = new google.maps.Geocoder();

    

    }

    function getAddress(friendName, address)
    {
        var markerOptions = null
        if (geocoder)
        {
            geocoder.geocode({ 'address': address},function geocodeResult(results, status)
                {
                    if (status == 'OK')
                    {
                        markerOptions = { position: results[0].geometry.location }

                        addToMap(markerOptions,friendName);
                    }
                    else
                    {
                        alert("Geocoding fail because: " + status);
                    }
                });
        }
     }



     function addToMap(markerOptions,friendName)
     {
           
            if (markerOptions != null)
            {
                var marker = new google.maps.Marker(markerOptions);

                marker.setTitle(friendName);
                marker.setMap(map);
            }
            else
            {
                alert("Couldn't find location of your friend: " + friendName);
            }
      }


</script>

<script>
     $(document).ready(function() {
     var markerOptions = null;

     initialize();

    

     {% for locations,friendsList in dictFriends.items %}
         var friendsString = "";
        {% for f in friendsList %}

            friendsString += "{{f}}\n";
       
        {% endfor %}

         getAddress(friendsString,"{{locations}}");
     {% endfor %}
     
     });
</script>
{% endblock %}


{%block content %}
<h1>Locate your friends</h1>
  <div id='container'>
      <div class="element">
          <h2>Which of your facebook friends are using Social Gags?</h2>
            <p>With this feature you can find which of your friends are using
            social gags and their home town</p>
            <div id="map_canvas" style="width: 100%; height: 400px"></div>
      </div>

  </div>



{% endblock %}