{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block header %}
	LOGIN
	{% if form.errors %}
		<font color="red">Your nickname and/or password are incorrect</font> 
	
	{% endif %}
	
{% endblock %}


{% block content %}
	<div class="forms">
		<div id="form">
			<form method="post" action="{% url django.contrib.auth.views.login %}">
			{% csrf_token %} 
				
					<p>User:   </p>
					{{ form.username }}<br />
				
					<p>Password:</p>
					{{ form.password }}<br />
				

			<input type="submit" value="login"></input>
			<input type="hidden" name="next" value="{{ next }}"></input>
			</form>
		
	</div>
    </div>

{% endblock %}

{% block right_box %} {% endblock %} 


